@* Path: LedgerLink/Views/Customer/Delete.cshtml *@
@model LedgerLink.Models.Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="container mt-5">
    <h2>@ViewData["Title"]</h2>
    <h3 class="text-danger">Are you sure you want to delete this customer?</h3>
    <hr />
    <div>
        <h4>Customer Details</h4>
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Address)
            </dd>
            @* Removed display for Barcode as it's no longer in the model *@
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CurrentBalance)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CurrentBalance)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" /> @* Hidden field for the Customer Id (Guid) *@
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        </form>
    </div>
</div>